.sideNav-container {
  display: none;
}
@media (max-width: 767px) {
  .sideNav-container {
    display: block;
  }
}
.MuiButton-label {
  color: white;
}

@media (max-width: 767px) {
  .MuiDrawer-paper {
    width: 360px;
  }
}
.sideNav-closeIcon {
  position: relative;
  left: 90%;
  margin-top: 4%;
  font-size: 30px;
}
.sideNav-closeIcon:hover {
  background-color: rgb(199, 199, 199);

  border-radius: 50%;
  color: rgb(114, 113, 113);
}
@media (max-width: 360px) {
  .creating-memories-container {
    width: 100%;
  }
}
