.creating-memories-container span {
  color: red;
  font-size: 13px;
}
.creating-memories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px lightgray;
  padding: 30px 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
